{% extends "predios/layout.html" %}

{% block body %}


{% if listado %}
<h1>Predios del perímetro {{ listado.first.get_category_display }}</h1>

<div class="listado">
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Barrio / Vereda</th>
            <th>Detalles</th>
        </tr>

        {% for item in listado %}
        <tr>
            <td>{{ item }}</td>
            <td>{{ item.direccion }}</td>
            <td>{{ item.barrio_vereda }}</td>
            <td><a href="detallado/{{ item.id }}">Ver detalles</td>
        </tr>     

        {% endfor %}
    </table>
</div>

{% else %}
<h1>No hay registros disponibles</h1>
{% endif %}

<a class="btn btn-primary btn-atras" href="{% url 'predios:index' %}" role="button">Atras</a>

{% endblock body %}