.header-top {
    background-color: rgb(29, 89, 201);
}

.header-logoGov {
    width: auto;
    max-height: 40px;
}

.header-name {
    color: #434343;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}

.header-wLogo {
    width: auto;
    max-height: 60px;
}

.wlogo {

    a:link,
    a:visited,
    a:active,
    a:hover {
        background-color: transparent;
        cursor: pointer;
        text-decoration: none;
        color: #434343;
        line-height: 2%;
    }
}

.main-section {
    padding: 10px;
}